.uiCustomSelect {
    position: relative;
    cursor: pointer;

    .selectOptions {
        position: absolute;
        top: 20px;
        left: 50%;
        transform:translateX(-50%);
        width: 100px;
        background: #fff;
        border: 1px solid #ddd;
    }
}