.header {
    padding: 0 20px;
    width: 150px;
    background: #eee;

    .h1 {
        font-size: 18px;
        color: #aaa;
    }

    .sidebar {        
        .sidebar-link {
            font-size: 13px;

            &.active {
                color: blue;
            }
        }
    }
}