.layout {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;    

    .container {
        flex: 1;
        display: flex;

        .content {
            flex: 1;
            padding:30px;
        }
    }
}

.pageTitle {
    margin: 0;
    font-size: 20px;

    & + .pText {
        margin-top: 5px;
    }
}

.preview {
    margin-top: 30px;

    .previewTitle {
        font-size: 15px;
        color: #666;

        & + .pText {
        margin-top: 5px;
    }
    }
}

