@import "../../styles/shared";

.custom-checkbox {
    display: inline-block;

    input {
        position: absolute;
        opacity: 0;
        pointer-events: none;// 포인터 이벤트(클릭, 호버)의 대상이 되지 않고 아래에 있는 요소로 이벤트가 전달됨
    }

    label {
        display: inline-flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
    }

    .box {
        width: 16px;
        height: 16px;
        border: 1px solid #999;
        background: #fff;
    }

    input:checked + label .box {
        background: #333;
    }

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}