.checkboxGroup {
    .uiCheckbox {
        padding:5px 10px;
        cursor:pointer;
        border:none;

        &:hover {
            background-color:#ddd;
        }

        &.checked {
            color:#fff;
            background-color:$color-primary;
        }

        &.checked:hover {
            background-color:#0061c9;
        } 
        
        & + .uiCheckbox {
            margin-left:10px;
        }
    }
}